body {
    margin: 0;
    background: rgb(220, 221, 225);
    background: linear-gradient(90deg, rgba(220, 221, 225, 1) 0%, rgb(248, 248, 250) 35%, rgb(233, 234, 238) 100%);

}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500;900&display=swap');

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    color: #273c75;
}

h1,
h2,
h3 {
    color: #273c75;
}

.header-area {
    background-color: #f5f6fa;
    height: 70px;
    width: 100%;
    float: left;
    overflow: hidden;
}

.logo {
    height: 100%;
    width: calc(30% - 100px);
    overflow: hidden;
    float: left;
    padding-left: 100px;
}

img {
    max-width: 100px;
    height: 70px;
}

/* Social */

.social-text {
    height: 100%;
    width: 70%;
    overflow: hidden;
    float: left;
}

.icons {
    height: 100%;
    width: calc(20% - 20px);
    overflow: hidden;
    padding-top: 33px;
    padding: 20px 20px 0 0;
}

.social-icon {
    text-align: right;
    height: 100%;
    width: calc(70% - 0px);
    float: left;
    overflow: hidden;
}

.social-icon p {
    font-size: 16px;
    padding: 0;
    margin: 25px;
}

.fa-brands {
    font-size: 27px;
    margin: -4px 3px;
    padding: 5px 5px;
    border-radius: 7px;
    cursor: pointer;
    background-color: #273c75;
    color: #f5f6fa;
    text-align: center;
}

.fa-brands:hover {
    color: #e84118;
    transition: .5s;
}

.menu {
    height: auto;
    width: calc(100% - 525px);
    background: linear-gradient(90deg, rgb(221 223 230) 0%, rgb(239 239 243) 35%, rgb(221 223 230) 100%);
    padding: 0px 0px 0px 525px;
}

.menu::after {
    content: '';
    display: block;
    clear: both;
}

.menu ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.menu ul li {
    float: left;
    position: relative;
    font-weight: bold;
}

.menu ul li a {
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    padding: 10px 20px;
    font-size: 18px;
    color: #273c75;
}

.menu ul li a:hover {
    background-color: #e84118;
    color: #f5f6fa;
}

.menu ul ul {
    position: absolute;
    width: 250px;
    background: #273c75;
    top: 100px;
    left: 0;
    visibility: hidden;
    transition: 1s;
    opacity: 0;
}

.menu ul ul li a {
    color: #f5f6fa;
}

.menu ul ul ul {
    position: absolute;
    width: 250px;
    background: #273c75;
    top: 100px;
    left: 100%;
    visibility: hidden;
    transition: 1s;
    opacity: 0;
}

.menu ul ul ul li a {
    color: #f5f6fa;
}

.menu ul>li:hover>ul {
    visibility: visible;
    top: 100%;
    left: 0;
    opacity: 1;
}

.menu ul ul>li:hover ul {
    left: 100%;
    top: 0;
}

.menu ul ul>ul>ul {
    background: #ff5252;
    top: 100px;
    left: 100%;
}


.menu ul li ul li ul li:hover ul {
    top: -100%;
    right: 100px;
}

.menu ul ul li {
    float: none;
}

.menu ul ul li a {
    display: block;
}

.menu ul ul li a:hover {
    background-color: #e84118;
}

/* banner area */
.banner-area {
    height: 650px;
    width: 100%;
    overflow: hidden;
}

.content {
    padding-top: 10%;
    text-align: center;
}

.content h1 {
    font-size: 50px;
    text-transform: uppercase;
    margin: 30px;
}

.content p {
    max-width: 700px;
    margin: auto;
    font-weight: 200;
    line-height: 28px;
    padding: 29px 0;
    word-break: break-all;
}

.btn {
    text-decoration: none;
    padding: 10px 20px;
    background-color: #2c2c54;
    color: #f5f6fa;
    position: relative;
    z-index: 99;
    border: none;
    overflow: hidden;
}

.btn a {
    text-decoration: none;
    color: #f5f6fa;
    font-weight: bold;
}

.btn::after {
    content: '';
    background-color: #e84118;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: -100%;
    transition: .5s;
    z-index: -1;
}

.content .btn:hover::after {
    left: 0;
    transition: .5s;
}

/* SERVICE AREA */
.service-area {
    height: 400px;
    width: 100%;
    text-align: center;
}

.service-heading h2 {
    text-transform: uppercase;
    font-size: 35px;
}

.service-heading h2::after {
    content: "";
    background-color: #e84118;
    height: 3px;
    width: 232px;
    top: 35%;
    right: 43%;
    position: absolute;
}

.service-heading {
    height: 30%;
    width: 100%;
    position: relative;
}

.service-heading p {
    max-width: 40%;
    margin: auto;
    font-weight: 200;
}
.service-box {
    height: 70%;
    width: 100%;
    float: left;
    overflow: hidden;
    padding: 20px 0 40px 0;
}

.box h3 {
    font-size: 25px;
}

.box p {
    max-width: 80%;
    margin: auto;
    text-align: justify;
    word-break: break-all;
}

.box {
    height: 100%;
    width: calc(100%/3 - 40px);
    float: left;
    overflow: hidden;
    margin: 20px;
    border: 1px solid #e84118;
    box-sizing: border-box;
    transition: 1s;
}

.box .fa-solid {
    font-size: 45px;
    padding-top: 20px;
}

.box:hover,
.boxes:hover {
    background-color: #273c75;
    color: #f5f6fa;
    transform: translateY(-20px);
    transition: .5s;
    border: 2px solid #e84118;
}

.box:hover h3 {
    color: white;
}

/* portfolio-area */

.portfolio-area {
    height: 800px;
    width: 100%;
    overflow: hidden;
    float: left;
    text-align: center;
    padding: 100px 0;
}

.portfolio-heading {
    height: calc(20% - 20px);
    width: 100%;
    float: left;
    overflow: hidden;
    padding-bottom: 57px;
    position: relative;
}

.portfolio-heading h2::after {
    content: "";
    background-color: #e84118;
    height: 3px;
    width: 140px;
    top: 36%;
    right: 45.6%;
    position: absolute;
}

.portfolio-heading p {
    max-width: 600px;
    margin: auto;
    font-weight: 200;
    overflow: hidden;
}

.portfolio-heading h2 {
    text-transform: uppercase;
    font-size: 35px;
}

.portfolio {
    height: 80%;
    width: 100%;
    float: left;
    overflow: hidden;
}

.portfolio-details {
    height: 50%;
    width: 100%;
    float: left;
    overflow: hidden;
}

.portfolio-img1 {
    height: 100%;
    width: 50%;
    float: left;
    overflow: hidden;
    background-image: url(images/landing1.png);
    background-position: top right;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
}

.portfolio-img1:hover,
.portfolio-img2:hover {
    opacity: .9;
    transition: .5s;
}

.portfolio-text {
    padding-top: 85px;
    height: 100%;
    width: 50%;
    float: left;
    overflow: hidden;
}

.portfolio-text .btn {
    background-color: #e84118;
}

.portfolio-text:hover .btn {
    background-color: #f5f6fa;
    color: #273c75;
    cursor: pointer;
}

.portfolio-text:hover .btn a {
    color: #273c75;
}

.portfolio-text:hover {
    background-color: #273c75;
    color: #f5f6fa;
    transition: .5s;
}

.portfolio-text:hover h3 {
    color: #f5f6fa;
}

.portfolio-text p {
    max-width: 500px;
    margin: auto;
    padding: 20px 0;
}

.portfolio-img2 {
    height: 100%;
    width: 50%;
    overflow: hidden;
    background-image: url(images/landing2.jpg);
    background-position: center right;
    background-repeat: no-repeat;
    background-size: cover;
    float: left;
    cursor: pointer;
}

/* ABout Section */

.about-section {
    height: 400px;
    width: 100%;
    overflow: hidden;
    float: left;
    padding: 50px 0;
}

.boxes {
    height: 100%;
    width: calc(100%/4 - 40px);
    float: left;
    overflow: hidden;
    text-align: center;
    margin: 20px;
    border: 1px solid #e84118;
    box-sizing: border-box;
    margin-top: 20px;
}

.boxes:hover h3,
.boxes:hover .pages ul li a {
    color: #f5f6fa;
}

.text-icons ul {
    margin: 0;
}

.text-icons ul li {
    list-style: none;
    text-align: left;
    font-size: 18px;
}

.fa-solid {
    margin: 15px;
    font-size: 20px;
}

.pages ul {
    padding: 0;
    margin: 53px 0px 0 140px;
}

.pages ul li {
    list-style: none;
    text-align: left;
    margin: 18px 0;
    font-size: 18px;
    padding: 0;
}

.pages ul li a {
    text-decoration: none;
    color: #273c75;
}

.footer {
    background-color: #273c75;
    height: 70px;
    width: 100%;
    overflow: hidden;
    float: left;
}

.footer-left {
    width: 50%;
    height: 100%;
    float: left;
}

.footer-right {
    width: 50%;
    height: 100%;
    float: left;
    overflow: hidden;
}

.footer-left p {
    color: rgb(245, 246, 250);
    padding: 13px 0px 0px 25px;
}

.footer-content {
    height: 100%;
    width: 70%;
    overflow: hidden;
    float: left;
}


.footer-content p {
    color: #f5f6fa;
    padding: 2% 0 0 76%;
}

.footer-icons .fa-brands {
    padding: 8px;
    margin: 13px 0 0 5px;
    background: white;
    color: #273c75;
}

.footer-icons .fa-brands:hover {
    background: #e84118;
    color: #f5f6fa;
}